In [6]:
import glob
import pandas as pd
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import FunctionTransformer

In [7]:
names = ['subject-id', 'activity-code', 'timestamp', 'x', 'y', 'z']

path = r'wisdm-dataset/raw/phone/accel' # use your path
all_files = glob.glob(path + "/*.txt")

li = []

for filename in all_files:
    df = pd.read_csv(filename, names=names)
    li.append(df)

frame_phone_accel = pd.concat(li, axis=0, ignore_index=True)

frame_phone_accel['z'] = frame_phone_accel['z'].str.rstrip(';').astype(float)

In [8]:
def convert_timestamp_to_datetime(X):
    return pd.to_datetime(X, unit='ns')

timestamp_transformer = FunctionTransformer(convert_timestamp_to_datetime)
time_pipeline = make_pipeline(timestamp_transformer)

frame_phone_accel_copy = frame_phone_accel.copy()

frame_phone_accel_copy['timestamp'] = time_pipeline.fit_transform(frame_phone_accel_copy['timestamp'])

In [9]:
frame_phone_accel_copy = frame_phone_accel_copy.sort_values('timestamp')
frame_phone_accel_copy['time_difference'] = frame_phone_accel_copy['timestamp'].diff()

In [11]:
frame_phone_accel_copy.head()

,subject-id,activity-code,timestamp,x,y,z,time_difference
884281,1611,O,1970-01-01 00:04:28.102711042,4.081131,-9.344620,1.961945,NaT
884282,1611,O,1970-01-01 00:04:28.153065046,2.726700,-9.153198,1.470413,0 days 00:00:00.050354004
884283,1611,O,1970-01-01 00:04:28.203419049,1.788895,-8.773758,0.297684,0 days 00:00:00.050354003
884284,1611,O,1970-01-01 00:04:28.253773053,2.394150,-9.277420,0.654739,0 days 00:00:00.050354004
884285,1611,O,1970-01-01 00:04:28.304127057,4.658661,-9.536713,1.672699,0 days 00:00:00.050354004

In [13]:
frame_phone_accel_copy.sort_values('time_difference', ascending=False).head(10)

,subject-id,activity-code,timestamp,x,y,z,time_difference
3863421,1644,D,1970-01-22 00:18:47.399816000,0.431104,0.581990,9.939331,2 days 22:40:36.331083449
4184983,1646,D,1970-01-17 22:42:17.254266000,-8.224498,-5.213958,5.395979,2 days 19:34:11.367149081
2515732,1629,A,1970-01-14 01:04:33.672720666,-9.507858,2.903564,-1.763428,2 days 03:16:55.716799946
1580245,1620,A,1970-01-11 20:33:54.649865917,6.130188,5.923340,-0.791870,1 days 20:56:02.094418603
2204072,1627,D,1970-01-06 02:02:09.710452854,0.197800,3.901611,-8.732223,0 days 21:50:26.615441854
2660422,1631,D,1970-01-18 22:50:56.724250803,-0.708862,9.626938,3.331543,0 days 21:44:33.317135803
2123643,1626,D,1970-01-07 21:27:50.221281879,1.171417,6.281235,6.825195,0 days 21:12:04.741864812
2928588,1635,A,1970-01-08 19:49:23.861324906,-2.405701,-7.531982,1.126068,0 days 19:24:03.184992785
1438015,1618,A,1970-01-09 23:23:39.608986314,-1.348709,-4.518112,3.989212,0 days 17:50:39.335313314
4670423,1650,D,1970-01-05 03:04:49.724528000,0.416733,0.457449,9.956097,0 days 17:38:31.330626117